
<div class="footer" >
    <p style="text-align:center;"> PSEUDO WORKS </p>
    <p style="text-align:center;">Handmade by me &copy 2017</p>
    <p style="text-align:center;">
      <a href="https://www.github.com/pseudo2638">
        <span>
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.linkedin.com/in/aditya-sudhakar-45a315132/">
        <span>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.facebook.com/ethical.hacker.2638">
        <span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.instagram.com/aditya_sudhakar">
        <span>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </a>
    </p>
</div>


