doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv = 'X-UA-Compatible', content = ' IE=edge , chrome=1 ')
    title Add Products

  body
    section.container
       .signup

           h1  Add product
           form(method='POST', action='http://localhost:2000/v1/products/create')
             p
               input(type='text', name='productName', value='', placeholder='Product Name')
             p
               input(type='text', name='productPrice', value='', placeholder='Product Price')
             p
               input(type='text', name='productDescription', value='', placeholder='Description of product')
             p
               input(type='text', name='sellerName', value='', placeholder='Seller Name')
             p
               input(type='text', name='sellerAddress', value='', placeholder='Seller Address')
             p
               input(type='text', name='sellerContactNumber', value='', placeholder='Seller Phone Number')
             p
               input(type='text', name='sellerPinCode', value='', placeholder='Seller Area PIN Code')
             p
               input(type='text', name='productCategory', value='', placeholder='Please mention the categories under which this product lies and seperate each category by space for example: electronics , laptop ... ')
             p
               input(type='submit', name='', value='Create Product')

             p.submit
