doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv = 'X-UA-Compatible', content = ' IE=edge , chrome=1 ')
    title Forgot Form

  body
    section.container
       .signup

           h1  Please fill below the details to get your password/
           form(method='POST', action='http://localhost:2000/v1/users/forgot')
             p
               input(type='text', name='email', value='', placeholder='Email ID')
             p
               input(type='submit', name='', value='Recover')

             p.submit
