doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv = 'X-UA-Compatible', content = ' IE=edge , chrome=1 ')
    title Homepage

  body
    h1 Welcome, #{user.firstName}
    p  Your email address is - #{user.email}
    p
       a(href='http://localhost:2000/v1/users/logout') Logout
